# Node and related ecosystem
# ==========================
node_modules/

# Bower Components
# ==========================

public/bower_components/

# Other
# ==========================

public/compressed_images/
public/uploads/
todo.txt
